In [2]:
#행과 열을 다루는 라이브러리(pd는 판다)
import pandas as pd

In [3]:
indata = pd.read_csv("C:/Users/SMART06/stdcode6/dataset/kopo_customerdata.csv")
indata2 = pd.read_csv("../dataset/kopo_customerdata.csv")

In [4]:
stdCodeList = [111,222,333]
stdNameList = ["김효관","홍길동","타요"]
stdDf = pd.DataFrame(stdCodeList, columns =["학번"])
#판다로 표를 만드는데 stdCodeList는 값, column이름은 학번

In [5]:
finalDf = pd.DataFrame(zip(stdCodeList,stdNameList), columns = ["학번","이름"])

In [6]:
row1List = ["111","김효관"]
row2List = ["222","홍길동"]

In [7]:
stdDf2 = pd.DataFrame([ row1List,row2List],columns=["학번","이름"])

In [8]:
stdDf2.to_csv("../dataset/stdDataOut.csv")

In [9]:
stdDf2.to_csv("../dataset/stdDataOut.csv",encoding="ms949", index=False)

In [15]:
finalDf

    학번   이름
0  111  김효관
1  222  홍길동
2  333   타요